{{#if my_gears}}
<h2>Gear</h2>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each my_gears as |gear|}}
      <tr data-id="{{gear.id}}">
        <td>{{gear.quantity}}</td>
        <td>{{gear.name}}</td>
        <td><button data-id="{{gear.id}}" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#updateGearModal{{gear.id}}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
          <div id="updateGearModal{{gear.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createGearModalLabel">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="createGearModalLabel">Update Gear</h4>
                <br>
                <form class="update-gear" data-id="{{gear.id}}">
                  <input class="clear-input modal-input" type="text" required onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="my_gear[quantity]" data-char-limit="4" maxlength="4" value="" placeholder="Quantity">
                  <input class="clear-input modal-input" type="text" required name="my_gear[name]" data-char-limit="12" maxlength="12" value="" placeholder="Name">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <input data-id="{{gear.id}}" type="submit" class="btn update-gear btn-primary" name="submit" value="Submit">
                </form>
              </div>
            </div>
          </div>
        </td>
        <td>
          <button data-id="{{gear.id}}" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#destroyGearModal{{gear.id}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
          <div id="destroyGearModal{{gear.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="destroyGearModalLabel">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="destroyGearModalLabel">Are you sure?</h4>
                <br>
                <input data-id="{{gear.id}}" type="submit" class="btn destroy-gear btn-primary" name="submit" value="Do it!">
              </div>
            </div>
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
  {{/if}}
